body {
    background-color: var(--bg-color);
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
    color: var(--text-color);
}
@media screen and (max-width: 1680px) {
    body,
    input,
    select,
    textarea {
        font-size: 14pt;
    }
}
@media screen and (max-width: 1280px) {
    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }
}
@media screen and (max-width: 360px) {
    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }
}
mark {
    border-radius: 5px;
    padding: 5px;
    background-color: var(--mark);
    color: inherit;
}
p {
    margin: 0 0 2em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 1em 0;
}
ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: var(--bg-color);
    border: 0;
    border-radius: 15px;
    box-shadow: inset 0 0 0 2px #000;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.button:hover {
    color: var(--grad1);
    background-color: var(--black);
}
#main > * > .inner {
    padding: 4em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}
.shadow {
    border-radius: 5px;
    -webkit-filter: drop-shadow(2px 2px 2px var(--shadow));
    filter: drop-shadow(2px 2px 2px var(--shadow));
}
